*{
	padding: 0;
	margin: 0;
}
/*==========================elementor-section====================*/
.elementor-section{
	padding-top: 55px;
	position: relative;
    background: #343A40;
}
.acquire-area{
	padding-top:198px;
}
.acquire-tex h2{
	color: #FFC168;
	font-size: 18px;
	font-weight: 700;
	line-height: 2;
}
.acquire-tex h1{
	color: #fff;
    font-size: 51px;
    font-weight: 800;
    font-family: revert;
    padding-bottom: 20px;
}
.acquire-tex p{
	font-size: 21px;
	color: #666E76;
}
/*==========================elementor-section The end====================*/
.see-our-pricing{
	display: flex;
    padding-top: 21px;
}
.see-our-pricing-text2 {
    padding: 11px 32px 0px 22px;
    background: #3ECD90;
    border-radius: 5px;
    box-shadow: inset 0 -2px 0 #198754;
    margin-right: 27px;
    cursor: pointer;
    height: 48px;
    
}
.see-our-pricing-text2 a{
	color: #fff;
	font-size: 17px;
}
.see-our-pricing-text2 a i{
	padding-right: 8px;
	transition: 0.5s;
}
.see-our-pricing-text2:hover i{
	padding-right: 15px;
	transition: 0.5s;
}
.see-our-pricing-text {
    padding: 11px;
    position: relative;
}
.see-our-pricing-text a{
	color: #fff;
	font-size: 17px;
	padding: 11px 0px 15px 0px;
}
.see-our-pricing-text a i{
    font-size: 13px;
    padding-left: 2px;
    transition: 0.5s;
}
.see-our-pricing-text a:hover i{
	padding-left: 12px;
	transition: 0.5s;
}
.see-our-pricing-text a:before{
	content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background: #fff;
    bottom: 0;
    left: 10px;
    top: 38px;
    border-radius: 5px;
}
.see-our-pricing-text a:hover:before{
	width: 84%;
	transition: 0.5s;
}
.acquire-area > p{
    color: #797676;
    font-size: 17px;
    padding-top: 30px;
    font-family: 'Rubik';
}
/*============================brand-imges==================*/
.brand-imges{
    display: flex;
    padding-top: 16px;
    z-index: 10;
    position: absolute;
}
.brand-imges img{
	width: 128px;
    opacity: 0.5;
    transition: 0.5s;
}
.brand-imges img:hover{
    opacity: 0.9;
    transition: 0.4s;
}
.spotify-imge {
    padding-left: 30px;
    padding-right: 30px;
}
.airbnb-imge {
    padding-right: 15px;
}


.elementor {
	position: relative;
    float: right;
    z-index: 10;
}
.elementor img{
	max-width: 600px;
    height: auto;
    animation-name: package;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;


}
@keyframes package {
    from { transform: translate(0,  0px); }
    20%  { transform: translate(0, 80px); }
    to   { transform: translate(0, -0px); } 
}/*============================brand-imges The end==================*/
.skew-bg1 {
    position: absolute;
    bottom: 107px;
    left: 0;
    right: 0;
    background:  linear-gradient(to right, #353B41, #4B5056);
    height: 70px;
    z-index: 1;
    transform: skew(0deg, 346deg);
}
.skew-bg2 {
    position: absolute;
    bottom: 37px;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, #ff6c5f, #1274e7);
    height: 70px;
    z-index: 1;
    transform: skew(0deg, 346deg);
}
.skew-bg3 {
    width: 100%;
    height: 338px;
    background-color: #F8F9FA;
    background-size: cover;
    clip-path: polygon(100% -4%, 100% 100%, 0% 100%);
    position: absolute;
    right: 0;
    bottom: -132px;
    left: 0px;
    z-index: 0;
}

/*======================Rasponcib============================*/
@media(max-width: 1199px){
.elementor img{
    max-width: 550px;
    margin: 0 auto;
}
.acquire-area {
    padding-top: 121px;
}
}
@media(max-width: 1116px){
.acquire-tex p {
    font-size: 19px;
}
.acquire-tex h1 {
    color: #fff;
    font-size: 45px;
    padding-bottom: 11px;
}
.skew-bg3{
    height: 363px;
}
}
@media(max-width: 1070px){
.elementor img {
    max-width: 528px;
    margin: 0 auto;
}
.acquire-tex p {
    font-size: 17px;
}
.brand-imges img {
    width: 106px;
}
}
@media(max-width: 991px){
.acquire-tex h1 {
    font-size: 26px;
}
.acquire-tex p {
    font-size: 22px;
}
.brand-imges img {
    width: 71px;
}
.acquire-area {
    margin-bottom: 322px;
}
.elementor img {
    max-width: 400px;
}
.skew-bg1{
    height: 50px;
}
.skew-bg2{
    bottom: 33px;
    height: 50px;
}
.skew-bg1{
    bottom: 80px;
}
}